@model MainWrapper;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">    
    <title>Sucess</title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="newRecipe" id="add">Add New Recipe</a>
        <a href="savedRecipes" id="saved">Saved Recipes</a>
        <a href="editUser" id="edit">Edit Profile</a>
        <a href="logout" id="logout">Log Out</a>
    </div>
    <h1>Welcome @Model.RegisterUser.FirstName:</h1>

@* 
    @foreach (var Pic in @Model.RecipeList)
    {
        <div>

            <img src="@Pic.RecipeImage" alt="Recipe Image" /> 
            if(Pic.UserId == @Model.RegisterUser.UserId)
            {
                <a href="/edit/@Pic.RecipeId"></a>
            }
            <a href="/details/@Pic.RecipeId">@Pic.Recipe.RecipeName</a>

        </div>
    } *@

</body>
</html>