@model RegisterUser;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
    <title>Sucess</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @* ******************This is the nav tabs on top of the page*************** *@
    <nav class="navbar-inverse navbar-fixed-top">
        <ul class="nav nav-tabs nav-left-justified">
            <li id="home" ><a data-toggle="tab" href="main">Home</a></li>
            <li id="add"><a data-toggle="tab" href="newrecipe">Add New Recipe</a></li>
            <li id="saved" class="active"><a data-toggle="tab" href="savedRecipes">Saved Recipes</a></li>
            <li id="edit"><a data-toggle="tab" href="/editUser/@Model.UserId">Edit Profile</a></li>
            <li id="logout"><a data-toggle="tab" href="logout">Log Out</a></li>
        </ul>
    </nav>  


    <div class="container">
        <h1>Welcome @Model.FirstName:</h1>
        <h2>Your Favorite Recipes:</h2>
        @foreach (var favorite in @Model.Favorites)
        {
            <div id = "@favorite.RecipeId">

                <img src="@favorite.Recipe.RecipeImage" alt="@favorite.Recipe.RecipeName" /> 

            </div>
        }
    </div>  
    

</body>
</html>